:javascript
  $(document).ready(function() {
    $(".expense_tag").click(function() {
      $(this).toggleClass("selected_tag");
      var selected_tags = Array();
      $.each($(".selected_tag"), function() { selected_tags.push($(this).attr("id")); });
      $.get("/get_expenses", { "tags[]" : $.makeArray(selected_tags) }, function(data) {
        $("#expenses").html(data);
      });
    });
  })

%h1= "Expenses for #{current_user.name}"
#tags
  - @tags.each do |t|
    .expense_tag{ :id => t.id }= t.name
    %input{ :type => "hidden", :id => "selected-tag-#{t.id}", :value => "0" }
%ul#expenses
  = partial :expense, :collection => @expenses
