:javascript
  $(document).ready(function() {
    $(".expense_tag").click(function() {
      $(this).toggleClass("selected_tag");
    });
  })

%h1= "Expenses for #{current_user.name}"
#tags
  - @tags.each do |t|
    .expense_tag{ :id => t.id }= t.name
    %input{ :type => "hidden", :id => "selected-tag-#{t.id}", :value => "0" }
%ul#expenses
  = partial :expense, :collection => @expenses
